body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fffdfd;
  }
  
  /* Cabeçalho */
  header {
    background-color: #417d78;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo-area {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .logo-img {
    width: 40px;
    height: 40px;
  }
  
  /* Navegação */
  nav a {
    color: white;
    text-decoration: none;
    margin-left: 2rem;
  }
  
  /* Área principal */
  main {
    padding: 2rem;
    max-width: 900px;
    margin: auto;
  }
  
  h1 {
    color: #417d78;
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
  }
  
  p {
    margin-bottom: 1.5rem;
  }
  
  /* Botões */
  button,
  .btn-salvar {
    background-color: #417d78;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 10px;
    cursor: pointer;
    align-self: center;
    width: 300px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  }
  
  .btn-novo-paciente {
    background-color: #417d78;
    color: white;
    padding: 0.7rem 1.2rem;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  
  /* Formulário */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: block;
    margin-bottom: 0.3rem;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 0.4rem;
    margin-bottom: 1rem;
    border: 1px solid #417d78;
    border-radius: 6px;
  }
  
  .linha {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .campo {
    flex: 1;
    min-width: 150px;
  }
  
  .genero {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  fieldset {
    border: 1px solid #417d78;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
  }
  
  /* Card do paciente */
  .card-paciente {
    border: 1px solid #417d78;
    border-radius: 8px;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-paciente p {
    margin: 0;
  }
  
  .card-paciente button {
    background-color: #417d78;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    cursor: pointer;
  }
