* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body, html {
    height: 100%;
}

.background {
    background-image: url('imagem.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

.title {
    font-size: 24px;
    color: #336666;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 18px;
    color: #336666;
    margin-bottom: 20px;
}

.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group .icon-img {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    pointer-events: none;
}
.input-group input {
    padding-right: 40px;
    border-radius: 10px;
    height: 45px;
    
}

.input-group .iconimg {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.forgot-password {
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #333;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #4c8a8a;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #3e7a7a;
}
