* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html{
    font-size: 16px;
}


body {
    background-image: url('imagens/imagem.png'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: block;
    align-items: center;
    justify-content: center;
}

/* Hierarquia de títulos */
h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 21px;
}

label, input, select, button, textarea {
  font-size: 16px;
}

p, li {
  font-size: 20px;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 70px;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 25px;
}

.imagem {
  margin-right: 10px;
}

#icone-cabecalho {
  width: 56px;
  height: 44px;
}

.title {
    color: #336666;
    margin: 9px 0 20px;
    bottom: 30px;

}

.title h1{
  transform: translateY(13px);
  font-weight: normal;
}

.subtitle {
    color: #336666;
    margin: 10px 0 20px;
    text-align: center;
}

.subtitle h2{
  font-weight: lighter;
}

.input-group {
    margin-bottom: 20px;
    border: 1px solid #4c8a8a;
    border-radius: 15px;
    background-color: #ffff;
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 10px;
}


.icon-img {
    width: 30px;
    height: 30px;
}

.icon{
  text-align: right;
  margin-left: 30px;
  transform: translateY(12px);
}

input{
    width: 100%;
    border: none;
    outline: none;
    text-align: start;
    padding: 10px 0 3px;
}


.forgot-password {
    text-align: right;
    font-size: 12px;
    margin-bottom: 20px;
}

.forgot-password a {
    text-decoration: none;
    color: #333;
}

.login-button {
    width: 100%;
    padding: 12px;
    background-color: #4c8a8a;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}

#button{
  text-decoration: none;
  color: white;
}

.login-button:hover {
    background-color: #3e7a7a;
}